<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cursos</title>
  </head>
  <body>
    <h1>TreinaWeb cursos</h1>

    <ul>
      <% for(var i = 0; i < cursos.length; i++) { %>
      <li>
        <%= cursos[i].nome %> - <%= cursos[i].categoria %>
      </li>
      <% } %>
    </ul>

    <form onsubmit="createCourse(event)">
      <input type="text" id="nome" placeholder="Nome" autofocus />
      <input type="text" id="categoria" placeholder="Categoria" />
      <input type="submit" value="Criar" />
    </form>
  </body>
  <script>
    function createCourse(event) {
      event.preventDefault();
      var nome = document.querySelector("#nome").value;
      var categoria = document.querySelector("#categoria").value;

      fetch("/", {
        method: "post",
        headers: {
          "Accept": "application/json",
          "Content-Type": "application/json",
        },
        body: JSON.stringify({nome, categoria}),
      })
        .then(resp => resp.json())
        .then(() => location.reload())
        .catch(err => {
          console.log(err);
        });
    }
  </script>
</html>
