<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cursos</title>
  </head>
  <body>
    <h1>TreinaWeb cursos</h1>

    <ul>
      <% for(var i = 0; i < cursos.length; i++) { %>
      <li>
        <%= cursos[i].nome %> - <%= cursos[i].categoria %>
        <button onclick="removeCourse('<%= cursos[i]._id %>')">X</button>
      </li>
      <% } %>
    </ul>

    <form onsubmit="createCourse(event)">
      <input type="text" id="nome" placeholder="Nome" autofocus />
      <input type="text" id="categoria" placeholder="Categoria" />
      <input type="submit" value="Criar" />
    </form>
  </body>
  <script>
    function createCourse(event) {
      event.preventDefault();
      var nome = document.querySelector("#nome").value;
      var categoria = document.querySelector("#categoria").value;

      fetch("/", {
        method: "post",
        headers: {
          "Accept": "application/json",
          "Content-Type": "application/json",
          "Authorization": `Bearer ${localStorage["token"]}`,
        },
        body: JSON.stringify({nome, categoria}),
      })
        .then(resp => resp.json())
        .then(() => location.reload())
        .catch(err => {
          console.log(err);
        });
    }

    function removeCourse(id) {
      fetch(`/${id}`, {
        method: "delete",
        headers: {
          Authorization: `Bearer ${localStorage["token"]}`,
        },
      })
        .then(resp => resp.json())
        .then(() => location.reload())
        .catch(err => {
          console.log(err);
        });
    }

    function login() {
      fetch("/login", {
        method: "post",
        headers: {
          "Accept": "application/json",
          "Content-Type": "application/json",
        },
        body: JSON.stringify({name: "joaquim", password: "joaquim123"}),
      })
        .then(resp => resp.json())
        .then(resp => {
          if (resp.token) {
            localStorage["token"] = resp.token;
          }
        });
    }
  </script>
</html>
